# fly.toml app configuration file generated for fastify-documented-api on 2025-12-28T10:21:43-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fastify-documented-api'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  cpu_kind = 'shared'
  memory_mb = 1024

[deploy]
  release_command = 'npm run db:migrate'
